6.dtd

		<!ELEMENT student (name,id,plan)>
		<!ELEMENT name (fname,lname)>
		<!ELEMENT fname (#PCDATA)>
		<!ELEMENT lname (#PCDATA)>
		<!ELEMENT id (#PCDATA)>
		<!ELEMENT plan (courses*)>
		<!ELEMENT courses (course)>
		<!ATTLIST courses year CDATA #REQUIRED>
		<!ELEMENT course (shortName,record*)>
		<!ELEMENT shortName (#PCDATA)>
		<!ELEMENT record (grade,date)>
		<!ELEMENT grade (#PCDATA)>
		<!ELEMENT date (#PCDATA)>